#contact__section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 30rem;
}

.contact__title {
  color: #ccd6f6;
  font-size: var(--text-xl);
  font-weight: 600;
}

.contact__title > span {
  margin-right: 1rem;
}

.contact__subtitle {
  margin-top: 2rem;
  font-size: var(--text-4xl);
  font-weight: 600;
  color: #ccd6f6;
}

.contact__description {
  margin-top: 2rem;
  font-size: var(--text-lg);
}

.contact__link--container {
  margin-top: 4rem;
}

.contact__link {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  padding: 1.25rem 1.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
}

.contact__link:hover {
  color: var(--primary-blue);
  background-color: var(--primary-green);
}

@media (min-width: 768px) {
  .contact__title {
    font-size: var(--text-3xl);
  }

  .contact__title > span {
    font-size: var(--text-xl);
  }

  .contact__subtitle {
    font-size: var(--text-5xl);
  }
}

@media (min-width: 1024px) {
  .contact__subtitle {
    font-size: var(--text-7xl);
  }

  #contact__section {
    margin-top: 15rem;
  }
}
